<div class="container">
    <br>
    <div class="panel panel-default">

        <div class="panel-heading">Sobre</div>
        <div class="panel-body">

            <fieldset class="col-md-6">
                <legend>Fieldset Title</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Fieldset content...</p>
                    </div>
                </div>

            </fieldset>

            <div class="clearfix"></div>
        </div>

    </div>
</div>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>